@define-color bg #1e1e2e;
@define-color txt #cdd6f4;
* {
  font-family: CommitMono Nerd Font, monospace;
  font-size: 13px;
}

.modules-right > widget > * {
  padding: 0 10px;
}

.modules-center > widget > * {
  font-weight: bold;
}

window#waybar > box{
  background-color: @bg;
  color: @txt;
  border-bottom: 2px solid @txt;
  padding: 5px;
}

/*GTK injects: background-image, box-shadow, text-shadow, transition, border-color.
  This requires manual removal.*/
#workspaces button {
  box-shadow: none;
  border-color: transparent;
  text-shadow: none;
  border: none;
  outline: none;
  background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  border-radius: 8px;
  padding: 5px;
  background-color: @bg;
  color: @txt;
}
#workspaces button label {
  font-size: 15px;
}

#workspaces button.focused {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  background-color: @txt;
  color: @bg;
}

#workspaces button:hover {
  background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  background-color: @txt;
  color: @bg;
}
