#!/bin/bash
set -e

# Run script from location of this script.
cd "{{ playbook_parent_dir }}"

ansible-galaxy collection install -r ansible/requirements.yml -p ansible/collections

ansible-playbook ansible/sync.yml -K "$@"

