#!/bin/bash
set -e

# Run script from location of this script.
cd "{{ repo_dir }}"

ansible-galaxy collection install -r ansible/requirements.yml -p ansible/collections

ansible-playbook ansible/sync.yml --extra-vars '{{ {"user_home_dir": user_home_dir, "username": username, "repo_dir": repo_dir} | to_json }}' -K "$@"

